<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulario de Alta de Estudiante</h1>

    <form th:object="${estudiante}" th:action="@{/altaEstudiante}" method="post">

        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" id="nombre" th:field="*{nombre}" required >
 
        <label for="primerApellido">Primer Apellido: </label>
        <input type="text" name="primerApellido" id="primerApellido" th:field="*{primerApellido}" required>
 
        <label for="segundoApellido">Segundo Apellido: </label>
        <input type="text" name="segundoApellido" id="segundoApellido" th:field="*{segundoApellido}" required>
 
        <label for="fechaAlta">Fecha de Alta:  </label>
        <input type="date" name="fechaAlta" id="fechaAlta" th:field="*{fechaAlta}" required>

        <label for="fechaNacimiento">Fecha de Nacimiento:  </label>
        <input type="date" name="fechaNacimiento" id="fechaNacimiento" th:field="*{fechaNacimiento}" >

        <fieldset>
            <legend>Genero</legend>
            <label for="hombre">Hombre</label>
            <input type="radio" id="hombre" name="genero" value="HOMBRE" th:field="*{genero}" required>
            
            <label for="mujer">Mujer</label>
            <input type="radio" id="mujer" name="genero" value="MUJER" th:field="*{genero}" required>
            
            <label for="otro">Otro</label>
            <input type="radio" id="otro" name="genero" value="OTRO" th:field="*{genero}" required>
        </fieldset>

        <label for="beca">Beca recibida: </label>
        <input type="text" name="beca" id="beca" th:field="*{beca}">

        <label for="idFacultad">Facultad: </label>
        <select name="facultad" id="idFacultad" required>
            <option></option>
            <option th:each="facultad : ${facultades}" th:value="${facultad.id}"
                     th:text="${facultad.nombre}"></option>
        </select>

        <label for="numerosTelefonos">Telefono(s): </label>
        <input type="text" name="numerosTelefonos" id="numerosTelefonos" 
                        placeholder="Uno o varios separados por punto y coma">

        <input type="submit" value="Alta">

    </form>

    <!-- ¿Como funciona un formuulario HTML en general?  -->
    <!-- <form action="#" method="post">
        <input name="nombre" placeholder="Escriba su nombre, porfa!!!" type="text">

        <label for="fechaNacimiento">Fecha de Nacimiento: </label>
        <input name="fechaNacimiento" type="date" id="fechaNacimiento">

    
        <input type="submit" value="Enviar">
    </form> -->
</body>
</html>